In [3]:
# %%
import gdown
import pandas as pd
import os
import warnings
warnings.filterwarnings("ignore")
from IPython.display import clear_output
import time
from datetime import datetime
from tqdm.notebook import tqdm
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string as string

Asegurarnos de estar en carpeta : Proyecto-Grupal---Olist sino la posees creala

In [22]:

#os.chdir("C:/Users/Ricardo/Desktop/Proyecto-Grupal---Olist/")

In [1]:
#Revisando el directorio correcto
os.getcwd()

'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist'

Accesando el link de drive

In [4]:

url = "https://drive.google.com/drive/folders/14DFvVrsV6zIBH0ARnArBZdUhSXcf6OYh?usp=share_link"

print("conectando con Google drive y leyendo archivos ...")

files = gdown.download_folder(url, quiet=True, use_cookies=False)
files

conectando con Google drive y leyendo archivos ...

['c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_closed_deals_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_customers_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_geolocation_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_marketing_qualified_leads_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_order_items_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_order_payments_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_order_reviews_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_orders_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_products_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\olist_sellers_dataset.csv',
 'c:\\Users\\Ricardo\\Desktop\\Proyecto-Grupal---Olist\\Datasets\\product_category_name_translation.csv']

Extraemos exclusivamente el nombre diferencial del archivo

In [5]:

nombres=[]
for file in files:
    lista = file.split("Datasets\\") 
    nombre = lista[1].replace("olist_","").replace(".csv","").replace("_dataset","").capitalize()
    nombres.append(nombre)

Entramos al bucle iterador de revisión de la data. Dentro de la transformación de fechas, el programa revisa si existe algún título de columna que contenga las palabras **date** o **stamp**, en caso de encontrarlas, se efectúa la transformación correspondiente a formato **datetime**.

In [8]:

for pos,file in enumerate(files) :
    
    data = pd.read_csv(file)
    print("\n")
    print("********************************")
    print(f"Carga de {nombres[pos]}")
    print("********************************")
    print("\n")

    print("Tamaño del dataset")
    print("------------------")
    print("\n")
    print(f"El dataset {nombres[pos]} contiene {data.shape[0]} filas y {data.shape[1]} columnas")
    print("\n")

    print("Muestreo de 10 registros aleatorios")
    print("-----------------------------------")
    print("\n")
    print(data.sample(10))
    print("\n")

    print("Columnas, tipo de datos y cantidad de no nulos")
    print("----------------------------------------------")
    print("\n")
    print(data.info())
    print("\n")
    
    print("Valores perdidos en el dataset :")
    print("--------------------------------")
    print("\n")
    print(data.isna().sum(axis=0))
    print("\n")

    print("Revisión de algun campo fecha")
    print("------------------------------")
    print("\n")
    columnas = data.columns
    fecs = [col for col in columnas if "date" in col or "stamp" in col]
    for campo in fecs:
        data[campo]=pd.to_datetime(data[campo],errors="raise")

    if fecs :
        data.info()
    else:
        print(f"El archivo {nombres[pos]} no posee campos de tipo Date.")

********************************
Carga de Closed_deals
********************************


Tamaño del dataset
------------------


El dataset Closed_deals contiene 842 filas y 14 columnas


Muestreo de 10 registros aleatorios
-----------------------------------


                               mql_id                         seller_id  \
396  bb221b9bbbf25cc108cffe12fe10fbc2  5e105f5c9f63f5f1fd75d6cb942e55b1
463  08fdf1038af7dd3070bdcd18922e23b2  850913d59ce317156b00f3705f1c3edb
794  9542f2f27285580fe8d6aa82e179ed28  a359ed4a476430e29909d1415ecacb1d
177  d88a45e680327e0b22a34020d8f78252  9261d76c62caaf0b24677c2ceb7f8f20
632  26b54d75fad5660ca6471905fe1793cf  596849622429351f47b32e6cae1055ff
509  9ef248df74556f4768271660f5ef5f7b  aa2640d851ec322526f1295bbeb20092
41   20fcec0873b39b4df3df34140d77d6e7  cee3c487c56d29554a22d112af618301
371  2b9eb12abdcf58e92fcf797a1eb2983d  108ca0788dee2b34051cd325dd9eafed
573  51b030d05fdce1d571c4f55eed93d323  e58a75d874cd483e80fb3ba9aa35db51
33   e3c91316d8f28b18d96869aebbb7c3ec  d594982fd877af63ace38ea1fca27c76

                               sdr_id                             sr_id  \
396  068066e24f0c643eb1d089c7dd20cd73  6565aa9ce3178a5caf6171827af3a9ba
463  4b339f9567d060bcea4f5136b9f5949e  d3d1e91a157ea7f90548eef82f1955e3
794  de63de0d10a6012430098db33c679b0b  6565aa9ce3178a5caf6171827af3a9ba
177  0a0fb2b07d841f84fb6714e35c723075  de63de0d10a6012430098db33c679b0b
632  a8387c01a09e99ce014107505b92388c  56bf83c4bb35763a51c2baab501b4c67
509  4b339f9567d060bcea4f5136b9f5949e  6565aa9ce3178a5caf6171827af3a9ba
41   084b6fbb10729ed4da8c3d3f5a3ae7c9  0a0fb2b07d841f84fb6714e35c723075
371  4b339f9567d060bcea4f5136b9f5949e  2695de1affa7750089c0455f8ce27021
573  56bf83c4bb35763a51c2baab501b4c67  495d4e95a8cf8bbf8b432b612a2aa328
33   09285259593c61296eef10c734121d5b  fbf4aef3f6915dc0c3c97d6812522f6a

                won_date         business_segment      lead_type  \
396  2018-01-30 11:42:01               home_decor  online_medium
463  2018-02-08 17:29:13             phone_mobile  online_medium
794  2018-01-19 13:12:10               home_decor  online_medium
177  2018-05-22 21:25:39      household_utilities       industry
632  2018-04-16 12:26:39             phone_mobile  online_medium
509  2018-02-07 11:14:36               home_decor  online_medium
41   2018-11-14 18:04:19                    other          other
371  2018-04-03 20:47:56           bed_bath_table  online_medium
573  2017-12-14 11:30:13            health_beauty   online_small
33   2018-06-05 17:20:34  audio_video_electronics       industry

    lead_behaviour_profile has_company has_gtin average_stock business_type  \
396                    NaN         NaN      NaN           NaN  manufacturer
463                    NaN         NaN      NaN           NaN      reseller
794                    NaN         NaN      NaN           NaN      reseller
177                    cat         NaN      NaN           NaN      reseller
632                    cat         NaN      NaN           NaN      reseller
509                    NaN         NaN      NaN           NaN      reseller
41                     cat       False    False           1-5         other
371                    cat         NaN      NaN           NaN      reseller
573                    NaN         NaN      NaN           NaN  manufacturer
33                    wolf         NaN      NaN           NaN      reseller

     declared_product_catalog_size  declared_monthly_revenue
396                            NaN                       0.0
463                            NaN                       0.0
794                            NaN                       0.0
177                            NaN                       0.0
632                            NaN                       0.0
509                            NaN                       0.0
41                           120.0                    6000.0
371                            NaN                       0.0
573                            NaN                       0.0
33                             NaN                       0.0


Columnas, tipo de datos y cantidad de no nulos
----------------------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB
None


Valores perdidos en el dataset :
--------------------------------


mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
business_segment                   1
lead_type                          6
lead_behaviour_profile           177
has_company                      779
has_gtin                         778
average_stock                    776
business_type                     10
declared_product_catalog_size    773
declared_monthly_revenue           0
dtype: int64


Revisión de algun campo fecha
------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    datetime64[ns]
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(11)
memory usage: 92.2+ KB


********************************
Carga de Customers
********************************


Tamaño del dataset
------------------


El dataset Customers contiene 99441 filas y 5 columnas


Muestreo de 10 registros aleatorios
-----------------------------------


                            customer_id                customer_unique_id  \
12097  b877f2518fc1d9824b0da20c2e4b60a5  821deb5672820bdeb4f4a02ba483a613
69026  c13b43440b0555633480ca70ff6cc010  8e5a0c49e92eca9c96de510ca22ac5c5
20550  f8f259cd0fb51cbae4dabf155f493572  7aea85f90d8be9a2265587f19b7c0598
17682  1c3515cb387a43da4c50cc8e76b90af0  02e090052258dc8c675daf152e22afed
92900  58ee086556a160d66dc3f6d43b4efcc3  3ba7980dfa14cd3508fa58c4198ce202
28528  7c3f5c0a88de1382b659909c72030c1b  590683b332332b3a4b07cb4eef0c1e94
25247  86b794305d0f1621562027fb00fd32c9  0c525576779c3eea24bb2688e0a2a298
66052  57f867a592727eb25b81e7a751311941  8a0855d5cb93089e677b9a0b601bc03f
14993  c81ba9d8426b6de695ea61596f64dd75  04bc1ef1f382e159433c56da81bc4e90
44930  90c5ced703f28718eef7ac75cb35e854  058c974241ca9223249ab8ba9274478b

       customer_zip_code_prefix    customer_city customer_state
12097                     13285          vinhedo             SP
69026                     39400    montes claros             MG
20550                     96201       rio grande             RS
17682                      4543        sao paulo             SP
92900                     27600          valenca             RJ
28528                     38401       uberlandia             MG
25247                     93260           esteio             RS
66052                     39350            ibiai             MG
14993                     88131          palhoca             SC
44930                      6764  taboao da serra             SP


Columnas, tipo de datos y cantidad de no nulos
----------------------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None


Valores perdidos en el dataset :
--------------------------------


customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64


Revisión de algun campo fecha
------------------------------


El archivo Customers no posee campos de tipo Date.


********************************
Carga de Geolocation
********************************


Tamaño del dataset
------------------


El dataset Geolocation contiene 1000163 filas y 5 columnas


Muestreo de 10 registros aleatorios
-----------------------------------


        geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
412381                        20540       -22.918882       -43.231531
387936                        18270       -23.351715       -47.840557
161000                         6462       -23.483329       -46.807571
839605                        79640       -20.785626       -51.725343
849351                        81150       -25.516059       -49.298472
784776                        71571       -15.773296       -47.777967
28423                          2327       -23.443722       -46.575005
550710                        30431       -19.935375       -43.962894
59005                          3568       -23.542677       -46.484399
336439                        14400       -20.544481       -47.405661

       geolocation_city geolocation_state
412381   rio de janeiro                RJ
387936            tatui                SP
161000          barueri                SP
839605      tres lagoas                MS
849351         curitiba                PR
784776         brasília                DF
28423         sao paulo                SP
550710   belo horizonte                MG
59005         sao paulo                SP
336439           franca                SP


Columnas, tipo de datos y cantidad de no nulos
----------------------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None


Valores perdidos en el dataset :
--------------------------------


geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64


Revisión de algun campo fecha
------------------------------


El archivo Geolocation no posee campos de tipo Date.


********************************
Carga de Marketing_qualified_leads
********************************


Tamaño del dataset
------------------


El dataset Marketing_qualified_leads contiene 8000 filas y 4 columnas


Muestreo de 10 registros aleatorios
-----------------------------------


                                mql_id first_contact_date  \
4099  ef8baa17c6b52931c4b058e460fe8d0d         2018-02-20
5642  8b42718d99b26b5eac54bc18260b8cd4         2017-08-18
7669  795614ab85fa0cbf19bdc16c075a0d2c         2018-04-09
3934  879076927f643b14ada250ec07ef4a88         2018-03-18
2328  14ea0c66c8880377adab0c2c561dbdda         2018-03-28
7770  37a58819258c4653097f0f9ee6b5aa3d         2018-02-27
2213  9d02788d7cf4ed2fd71f530add408b8f         2018-05-05
1008  7455352c702492ca6c1490cb27e257a6         2018-04-01
6947  c09b11a189ac7771b26512f290bd023f         2018-03-12
2159  0283baf7c9ff556f467ccc5d6b41740c         2018-02-27

                       landing_page_id             origin
4099  15cf89bab2c3163b4f9d8601d108f8b2     organic_search
5642  3cd2a8301d5395f21cdd3094c9eaa2f4            unknown
7669  908dad5b22342480f5cc055b8dd55e7e  other_publicities
3934  22c29808c4f815213303f8933030604c     organic_search
2328  40dec9f3d5259a3d2dbcdab2114fae47  other_publicities
7770  36120633c8737035fbabf079082f4ec1             social
2213  f017be4dbf86243af5c1ebed0cff36a2     organic_search
1008  21a104c3279681d9856b8a48723c4fee            unknown
6947  22c29808c4f815213303f8933030604c     organic_search
2159  0e5a178e3cd2368607f3e72f46140476            unknown


Columnas, tipo de datos y cantidad de no nulos
----------------------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB
None


Valores perdidos en el dataset :
--------------------------------


mql_id                 0
first_contact_date     0
landing_page_id        0
origin                60
dtype: int64


Revisión de algun campo fecha
------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   datetime64[ns]
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 250.1+ KB


********************************
Carga de Order_items
********************************


Tamaño del dataset
------------------


El dataset Order_items contiene 112650 filas y 7 columnas


Muestreo de 10 registros aleatorios
-----------------------------------


                                order_id  order_item_id  \
112326  ff2d3362026397b4633ed312ffcdab9f              1
32304   493ba21a937e956c5e0e4e26c9f1b7f9              1
92788   d26fc4e0de94625d635210111725c127              1
18343   2a206d4997fedfb60455f2a06ae3028a              2
80999   b82b1a7017f4c904921dd5c6c6da8804              1
1576    03a10721769c7d8f2fefab105e64fbef              1
72499   a5542d780161a0c1c649d4e0f44540c8              6
3464    07d4b24a68e2180d4bc5aaf5384fa78b              1
70384   a0a28dfd50d685d3cd51cd7805f62f1c              1
938     0231382a78f19752dabca6a86b618152              1

                              product_id                         seller_id  \
112326  2b2d98d1e9b6f68a472c5ace64d704fa  897060da8b9a21f655304d50fd935913
32304   82d7b276f49e72ffce78d10b20518808  7c5b05cbdb5542049f38d90d7815b97d
92788   b5f7245e14a8a3d52f0a6e468971e6d9  f0b47fbbc6dee9aafe415a6e33051b3f
18343   0b0172eb0fd18479d29c3bc122c058c2  5656537e588803a555b8eb41f07a944b
80999   e68e475e0e1fa8744c2aef0f9864d679  b2ba3715d723d245138f291a6fe42594
1576    601a360bd2a916ecef0e88de72a6531a  7a67c85e85bb2ce8582c35f2203ad736
72499   09cbb58b67d2f010f3ce6ae6196f1ed9  6562efe88ce0826a4ca4f189f03b4b84
3464    d017a2151d543a9885604dc62a3d9dcc  6560211a19b47992c3666cc44a7e94c0
70384   52c80cedd4e90108bf4fa6a206ef6b03  a1043bafd471dff536d0c462352beb48
938     4e0d01d5e5e4bd454e71e7cd1491c052  a416b6a846a11724393025641d4edd5e

        shipping_limit_date   price  freight_value
112326  2017-09-25 03:37:56   21.90          16.11
32304   2018-07-20 13:30:36   19.99           7.40
92788   2018-08-09 14:31:42   29.99           8.37
18343   2018-07-03 02:53:15   19.89          17.07
80999   2017-06-12 22:55:17  214.90          17.75
1576    2017-08-17 14:25:14  118.99          17.08
72499   2018-01-18 12:35:21   59.90          14.15
3464    2018-01-05 21:52:23   49.00          15.13
70384   2018-01-05 19:26:36  179.99          45.72
938     2017-03-15 21:17:43   76.49           9.53


Columnas, tipo de datos y cantidad de no nulos
----------------------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None


Valores perdidos en el dataset :
--------------------------------


order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64


Revisión de algun campo fecha
------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB


********************************
Carga de Order_payments
********************************


Tamaño del dataset
------------------


El dataset Order_payments contiene 103886 filas y 5 columnas


Muestreo de 10 registros aleatorios
-----------------------------------


                               order_id  payment_sequential payment_type  \
38728  6fc7f9a5ce44ab38483dcf761802cb7e                   1       boleto
23383  68025b4097f26554336bf88f51c9a9db                   1  credit_card
54426  16d56a02b43b518cd146d842555b22ba                   1  credit_card
96624  3981758e39dcdca8ccad652405af0974                   1  credit_card
54063  9bcae940b24680a6ca263ec7ffb30ccb                   1       boleto
18326  168a385694949b4ff7b62fba2f7cd23c                   1       boleto