In [2]:
import pandas as pd

## Closed_deals

In [7]:
Closed_deals = pd.read_csv('olist_closed_deals_dataset.csv')
Closed_deals.sample(10)

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
215,e9dcae4d924ac8fff2334db6e5b99482,51fdd5d43db628fada4588f89aba3e8e,9d12ef1a7eca3ec58c545c678af7869c,de63de0d10a6012430098db33c679b0b,2018-04-11 20:19:49,car_accessories,offline,cat,NaN,NaN,NaN,reseller,NaN,0.0
368,8f8161d3a6bdf6a3ba5b28fd35725356,c03fd7fd50f9f421847d970502fe5d26,370c9f455f93a9a96cbe9bea48e70033,4ef15afb4b2723d8f3d81e51ec7afefe,2018-04-11 22:21:15,fashion_accessories,online_beginner,eagle,NaN,NaN,NaN,reseller,NaN,0.0
10,4e4e70d504b4c0006c8287dedc99d0fc,f7a0d94e966c5665355a182d5b199fcf,fdb16d3cbbeb5798f2f66c4096be026d,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-28 19:42:14,construction_tools_house_garden,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
483,c56202b66d431a16fbc0260c3d2bd1f6,d687681225767af6d214d1b3ae13f66a,4b339f9567d060bcea4f5136b9f5949e,2695de1affa7750089c0455f8ce27021,2018-06-11 19:23:48,food_supplement,offline,cat,NaN,NaN,NaN,reseller,NaN,0.0
58,415ae4e297c08fd8790a5b1e1ba8482e,08d1c9478fb0d7d7fcac9c0da4e82fc7,4b339f9567d060bcea4f5136b9f5949e,de63de0d10a6012430098db33c679b0b,2018-04-27 13:35:00,home_decor,online_medium,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0
610,ca7ca7ea7912312362a50c3754c1cc2d,97e50a621f8e801f4baf69e08687c192,de63de0d10a6012430098db33c679b0b,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-08 20:28:27,toys,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
824,ee24544795bf59a8343731c3501c6b4e,c013e57c075a06e5b5c48ee03c525719,fdb16d3cbbeb5798f2f66c4096be026d,9ae085775a198122c5586fa830ff7f2b,2018-02-01 17:10:20,pet,online_medium,NaN,NaN,NaN,NaN,reseller,NaN,0.0
646,058172f0764ed2bfad2c7aa7cb9ae15f,8c818d927ba4145304edccf74293f8b6,b90f87164b5f8c2cfa5c8572834dbe3f,34d40cdaf94010a1d05b0d6212f9e909,2018-10-29 14:54:02,household_utilities,industry,eagle,NaN,NaN,NaN,manufacturer,20.0,5000.0
534,b440cc1f36911a5256b3dc30a1d599ba,8116eb23b96c15ec02dd90632371494c,de63de0d10a6012430098db33c679b0b,9ae085775a198122c5586fa830ff7f2b,2018-01-29 10:35:52,bags_backpacks,online_beginner,NaN,NaN,NaN,NaN,manufacturer,NaN,0.0
806,5a85461739094491a96bb30267640454,1cd757f0f38c0847a2f05717d18b8d92,9d12ef1a7eca3ec58c545c678af7869c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-05-18 12:38:36,computers,industry,cat,NaN,NaN,NaN,reseller,NaN,0.0

In [10]:
Closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

In [1]:
Closed_deals.describe()

NameError: name 'Closed_deals' is not defined

## Customers

In [8]:
Customers = pd.read_csv('olist_customers_dataset.csv')
Customers.sample(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
17051,a83d26c9cc247262c5c8210d81cd2ae5,abd6c5448e23c80f973f26d266d444dc,18030,sorocaba,SP
81999,9f911fcf9d7f4c22e303f38f5d4b9ed5,cea7ed35ee5934e0d0746f8ee15148f6,30624,belo horizonte,MG
6228,6142dbf032917a89d9fdd387b8258cc3,85d68668dd9a06dab771bd981139423a,8529,ferraz de vasconcelos,SP
81293,116458665bac0ff47d5e87f65e8ec681,e6fdeb2ae78e71035c9db4c86e778455,31270,belo horizonte,MG
2230,e7e0c4caaf311b0d3850db36bbf6d404,47e73a2fd380ec487a3b25fa01104859,39445,janauba,MG
34718,fb7e6514e433bd65e2c4f4789d9fb518,3a0574daec0fb1f91d70844690300a3e,30672,belo horizonte,MG
9154,681957f67bfb9a208d049821b367f77d,87ffaa55c5e69fb9e78f8968958f17a9,30881,belo horizonte,MG
73198,438af069bdfc2cdff4fa2b35c3cccee3,52b5a6c873799ca0b688693b9add4368,78055,cuiaba,MT
15549,f59463f6531124e7598a3ae111a753db,6c8667b7d77b711966f283f8bb5ed08c,22793,rio de janeiro,RJ
36075,8289e9044e68003dfe33936c3c2c2799,f652abc552c8306a8bc86272a77ea5e8,20775,rio de janeiro,RJ

In [9]:
Customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

## Geolocation

In [11]:
Geolocation = pd.read_csv('olist_geolocation_dataset.csv')
Geolocation.sample(10)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
802522,74993,-16.811670,-49.224293,aparecida de goiânia,GO
940218,90130,-30.053111,-51.224316,porto alegre,RS
26900,2378,-23.454051,-46.630050,sao paulo,SP
18781,1504,-23.563759,-46.638992,sao paulo,SP
111741,4904,-23.671895,-46.738135,sao paulo,SP
106677,4854,-23.773079,-46.690058,sao paulo,SP
581674,34006,-19.977783,-43.939102,nova lima,MG
907648,88107,-27.600202,-48.661483,são josé,SC
893030,87075,-23.396714,-51.972890,maringa,PR
762901,65950,-5.508689,-45.245948,barra do corda,MA

In [12]:
Geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

## Marketing

In [13]:
Marketing = pd.read_csv('olist_marketing_qualified_leads_dataset.csv')
Marketing.sample(10)

,mql_id,first_contact_date,landing_page_id,origin
5014,89922c835b50167ccb792746cb8b1d34,2018-03-02,b76ef37428e6799c421989521c0e5077,unknown
6758,0ec14948e088cd74e70ad82de1128b3b,2017-08-16,87732658ba41d8775e8577df347a64db,social
880,6022410d9c4a0f83f8f2717b50f6a51f,2017-10-25,c05f0fd41e79d7811221253e0d4eadc8,organic_search
545,5103dc11e9d8ccf5c2c0dd2a6254a7a4,2017-09-18,87732658ba41d8775e8577df347a64db,social
6616,208989a43d7a1d1614e9ff303dce9d20,2018-03-14,241f79c7a8fe0270f4fb79fcbbcd17ad,paid_search
3458,7493c1741d0bb92fd7dc521a51042b84,2018-05-13,58326e62183c14b0c03085c33b9fdc44,social
3223,6ce911816178efa4b3b09d68d55c6c0a,2018-03-14,241f79c7a8fe0270f4fb79fcbbcd17ad,paid_search
5210,401013266745e5661589292315434968,2018-04-25,f80696b73d17fb34f5c4fde157f119d8,organic_search
3597,1d6f5d0e873ff67e5934494d9f99946e,2018-01-05,22c29808c4f815213303f8933030604c,organic_search
1395,67b46df8fd1c23206e0572850ac213b5,2018-01-04,b76ef37428e6799c421989521c0e5077,unknown

In [14]:
Marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

## Order_items

In [15]:
Order_items = pd.read_csv('olist_order_items_dataset.csv')
Order_items.sample(10)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
46788,6a587a7eb18089ffa1628bb4eb427c19,1,7d33844ffd50c5fb265a1e0ba03d9470,7299e27ed73d2ad986de7f7c77d919fa,2018-01-18 17:48:53,60.00,15.17
87635,c6f44ba4b2b07a646635d107f3b88100,1,79d2c1de4aaac73cf031b5e1f03a68aa,670c26e0f1bf8d0576271d5cfaec6d2b,2017-12-05 02:22:34,54.90,25.66
10762,188a143816707d77b3976b77d4c0966d,1,191c65cf8988d6fab9bde989aef39d61,6bb0724edf0b62fb91ac404873a97241,2017-07-27 14:15:14,138.00,49.99
86777,c518f5624cc7261df143c155e642a8cd,1,cf75cf76758e0ff7115fa0fcb486a732,c3cfdc648177fdbbbb35635a37472c53,2017-03-21 16:26:20,65.90,16.89
59210,86f1238d241a48cdbedf1a46d8532ded,1,fbce4c4cb307679d89a3bf3d3bb353b9,c33847515fa6305ce6feb1e818569f13,2018-08-13 17:10:16,149.00,51.33
9186,1500d5e4b3cb0312a231c2d9bd30d8f3,1,4c2394abfbac7ff59ec7a420918562fa,cc419e0650a3c5ba77189a1882b7556a,2017-12-07 22:54:00,84.99,16.35
70644,a1271d56297bed4beb42e16d758bf7e4,1,3d13b6c4a341d28974fbf776957250b0,65febd49fd28ec955651299159b1f527,2018-05-16 10:31:16,33.00,26.43
103080,ea147e73648571e7ae04cfc2ba96aa35,1,48428054567e07738a70f9d2a9fa0475,cc419e0650a3c5ba77189a1882b7556a,2018-03-06 03:51:05,56.99,14.15
88898,c9f32c5ccea32c0fa95474e83d8f321e,1,081088b5ca67de215fa103434690cedc,d66c305afaec317ebee552073a674429,2017-03-16 13:33:44,139.00,15.14
54153,7b146a6eac41426787d8f35a3df4a700,1,f7a17d2c51d9df89a4f1711c4ac17f33,f8db351d8c4c4c22c6835c19a46f01b0,2018-04-03 02:47:26,48.90,8.82

In [16]:
Order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

## Order_payments

In [17]:
Order_payments = pd.read_csv('olist_order_payments_dataset.csv')
Order_payments.sample(10)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
45683,692648a2b4637c1a31bb54a978fe9822,1,credit_card,10,148.47
98264,379663f7c5cf76e4a3cc7a2833071a39,1,credit_card,1,77.55
23125,aa120c892f79c1304455344f05773ac1,1,credit_card,1,45.82
6228,c0bae1d039f9f7459a21f5276b1127f4,1,boleto,1,36.09
52068,82bffc58899b3f43ae84cbcb157a2ac1,1,boleto,1,65.13
92690,67fa9997945e53898352ceff7d7b37a6,2,voucher,1,19.00
45280,85255dfbdf9d963a4517ef2587876dd4,1,boleto,1,93.85
39068,ab8b6341a925e22523717681a8e26ed6,1,credit_card,2,162.55
29233,e74f2f5d0d5b389e7ec83948628a2b9c,1,credit_card,1,77.51
29944,9a79820753183f9ae199a37da007e914,1,credit_card,2,91.15

In [18]:
Order_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

## Order_reviews

In [19]:
Order_reviews = pd.read_csv('olist_order_reviews_dataset.csv')
Order_reviews.sample(10)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
55390,c8ec96c2cbcc3235afa2088ce2550c93,b62001b38d12c99ffbafa1c609797348,1,NaN,Comprei dois kits e recebi apenas 1,2018-04-17 00:00:00,2018-04-18 12:48:34
48888,8b8f0ff8d9ff15dcb598accdc3069ea5,d32eb64faa945126f10f655ccdcb6fc5,5,NaN,NaN,2018-01-13 00:00:00,2018-01-14 13:29:03
61016,45d33d3d3dde041b9978cc50881f2247,5d70582531ed37f284797ba1354e0c50,5,NaN,NaN,2017-04-06 00:00:00,2017-04-08 22:22:57
83790,b74bdba3720a6b52657363c3092ba5f0,eb2bbf81f167ac5783bd05c392f320ae,5,NaN,K,2018-04-10 00:00:00,2018-04-10 19:10:30
43715,55d0a95ea8efb6e7254b7616b9a2509b,bafb907417d324de4bc43390ccf3fbed,5,NaN,recebi o produto antes do prazo previsto!,2018-01-26 00:00:00,2018-01-31 10:23:58
70944,e98c4c4fb9bd358090c29cfd94129f67,62b0ada629089f119f6445bd01ebaaf1,5,NaN,100%,2017-12-13 00:00:00,2017-12-14 22:31:09
21085,b24c511dbe3c9594a341390d4da37e51,499f4d2d2bf250a1bb18ca1feab13262,3,NaN,NaN,2017-12-12 00:00:00,2017-12-14 22:26:56
41859,6154680ea4c9d7e02c719fedaf53c160,8a8eb699f875d17840c4b11dd7613964,5,NaN,recomendo.,2018-01-06 00:00:00,2018-01-07 01:22:36
49451,d2666173a07103ca603da0f1aaf15955,ea9215d79709bb4917f0d0976eb91d17,1,Não recomendo!!!,Comprei um cartão Micro SD XC I Classe 10 e re...,2018-06-07 00:00:00,2018-06-08 23:48:54
43682,5a9c22e8221781804bb7de4b8b2c40b8,5c486eb3b7347dd7ae1661ea6e8216be,5,NaN,NaN,2017-12-20 00:00:00,2017-12-22 21:54:14

In [20]:
Order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

## Orders

In [21]:
Orders = pd.read_csv('olist_orders_dataset.csv')
Orders.sample(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
48366,1212c7b1c4195950e99e75fa6ec2a309,dbf31702420415660be9a8a9f33f3c3a,delivered,2018-01-22 23:51:49,2018-01-23 00:15:11,2018-01-23 23:29:04,2018-02-02 14:55:06,2018-02-26 00:00:00
21351,c2ca2bb17ed706c909f7011c18b1ba98,596333805ac932042fad7eeb3f2b9362,delivered,2017-10-01 19:37:59,2017-10-03 03:56:32,2017-10-10 18:44:48,2017-10-30 17:52:19,2017-10-27 00:00:00
9942,4797a73f61aa08ea719cddf0337af350,f771d9c0bb8328bbe1a7492c7efc0654,delivered,2018-02-14 09:45:19,2018-02-14 10:47:22,2018-02-14 19:07:47,2018-02-23 18:22:17,2018-03-06 00:00:00
62648,c0c735876359d7431dbd45a8fb0e238b,e2f8991948307e6172c3c55e7d986d9c,delivered,2018-02-23 00:11:32,2018-02-23 20:20:25,2018-02-26 18:57:01,2018-03-08 15:24:09,2018-03-22 00:00:00
62478,5f2e2fd04b4cc06cc8a3e8ceddfb67a5,b52fa071392a9ee75b930ad1566af7de,delivered,2017-07-08 10:08:48,2017-07-09 06:43:00,2017-07-14 20:02:38,2017-07-26 10:38:20,2017-08-01 00:00:00
11061,90067425f10c56b57afe862b51284a29,829961c76df2892a3b50656daaa764ed,delivered,2018-06-16 13:41:35,2018-06-16 13:59:45,2018-06-18 13:27:00,2018-06-21 19:54:25,2018-07-11 00:00:00
40016,35b69c976146412e632585ca8260da83,2200d408e95d53a468269d70b24516c9,delivered,2018-03-10 15:18:53,2018-03-10 15:35:27,2018-03-13 18:48:51,2018-04-05 20:32:21,2018-03-29 00:00:00
13637,8568864766afc1fb05611b15e7f7f83e,406300dc1b41b134fd12bedb592bd894,delivered,2017-11-06 21:32:10,2017-11-07 05:31:35,2017-11-07 18:57:37,2017-11-23 18:26:58,2017-12-11 00:00:00
96961,fffbee3b5462987e66fb49b1c5411df2,11a0e041ea6e7e21856d2689b64e7f3a,delivered,2018-06-19 09:27:48,2018-06-19 09:58:03,2018-06-29 13:46:00,2018-07-05 17:51:08,2018-07-23 00:00:00
64069,9156ebc5786466511701db24f06c5daf,170aa1c2c42c8d22996f6edb9567f3d3,delivered,2018-02-02 13:50:20,2018-02-02 14:51:51,2018-02-08 00:09:58,2018-02-17 11:54:45,2018-02-26 00:00:00

In [22]:
Orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

## Products

In [23]:
Products = pd.read_csv('olist_products_dataset.csv')
Products.sample(10)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
17624,8694f037a1ff62c5b61939eb818e43ab,moveis_decoracao,57.0,314.0,1.0,600.0,40.0,15.0,40.0
31475,2b10e945dae5434075c8bb2be0d17325,cama_mesa_banho,60.0,233.0,1.0,2950.0,46.0,8.0,38.0
15706,a09fb9f597a4b8a13ab0c72d70c77081,relogios_presentes,56.0,610.0,6.0,250.0,16.0,2.0,11.0
11202,f034637ce06bb3a527488a37a59e522d,relogios_presentes,44.0,549.0,1.0,400.0,23.0,15.0,19.0
5760,92c22a554e81bcc9dd5aa9824b1f510f,automotivo,35.0,90.0,3.0,6900.0,17.0,19.0,27.0
22437,3c7426b4df1386b6b355a5fa6bf85873,relogios_presentes,52.0,1020.0,1.0,400.0,18.0,12.0,12.0
24690,0b118a49dedaae5a3d10b55467aad998,cama_mesa_banho,32.0,734.0,5.0,400.0,16.0,10.0,11.0
30008,4ed8030b452688a37d26044e966eff12,cama_mesa_banho,54.0,284.0,2.0,4200.0,41.0,13.0,13.0
5632,1b46816aa838ce9ae97feda7b2f51f26,artigos_de_natal,17.0,322.0,2.0,200.0,30.0,2.0,21.0
21526,39c74b86a884310862f7b325d99c278c,NaN,NaN,NaN,NaN,100.0,25.0,5.0,15.0

In [24]:
Products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

## Sellers

In [25]:
Sellers = pd.read_csv('olist_sellers_dataset.csv')
Sellers.sample(10)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
65,b7e1750c1157341d2abd0251e07c186b,5741,sao paulo,SP
970,5bc55dbe2f12b6af6d83ed46023e0dc8,35170,coronel fabriciano,MG
752,07d75e33f2750d97d467fb57e4dfdd8a,2117,sao paulo,SP
2849,750303a20e9c56b2a6bc45cdce0b897d,74333,goiania,GO
1037,4091f77d8c768fc3e81c20761471761d,3059,sao paulo,SP
3008,63272377184e969942f7fff221be858d,3340,sao paulo,SP
2410,5c853bb56f70f4d14218944bae111d7a,6715,cotia,SP
779,2a261b5b644fa05f4f2700eb93544f2c,13660,porto ferreira,SP
1281,b839e41795b7f3ad94cc2014a52f6796,9541,sao caetano do sul,SP
1164,bca9230d3bbb4efa51872bf605a2f1ad,4296,sao paulo,SP

In [26]:
Sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

## Product_category_name_translation

In [28]:
Product_category_name_translation = pd.read_csv('product_category_name_translation.csv')
Product_category_name_translation.sample(10)

            product_category_name      product_category_name_english
27  construcao_ferramentas_jardim           costruction_tools_garden
13       tablets_impressao_imagem             tablets_printing_image
58                        bebidas                             drinks
66                         flores                            flowers
38      moveis_colchao_e_estofado  furniture_mattress_and_upholstery
67             artes_e_artesanato              arts_and_craftmanship
41          instrumentos_musicais                musical_instruments
62                casa_conforto_2                     home_comfort_2
4                moveis_decoracao                    furniture_decor
12                      papelaria                         stationery

In [29]:
Product_category_name_translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB