Importamos las librerías necesarias para el proceso de extracción, transformación y carga y luego extraemos los csv correspondientes.

In [27]:
import pandas as pd
from deep_translator import GoogleTranslator
from googletrans import Translator

In [2]:
Closed_deals = pd.read_csv("Closed_deals.csv")
Customers = pd.read_csv("Customers.csv")
Geolocation = pd.read_csv("Geolocation.csv")
Marketing = pd.read_csv("Marketing_qualified_leads.csv")
Order_items = pd.read_csv("Order_items.csv")
Order_payments = pd.read_csv("Order_payments.csv")
Order_reviews = pd.read_csv("Order_reviews.csv")
Orders = pd.read_csv("Orders.csv")
Product_category_name_translation = pd.read_csv("Product_category_name_translation.csv")
Products = pd.read_csv("Products.csv")
Sellers = pd.read_csv("Sellers.csv")

Observamos que dentro del csv de closed deals hay columnas que no van a ser necesarias para nuestro análisis, por lo tanto las eliminamos.

In [3]:
Closed_deals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     842 non-null    int64
 1   mql_id                         842 non-null    object
 2   seller_id                      842 non-null    object
 3   sdr_id                         842 non-null    object
 4   sr_id                          842 non-null    object
 5   won_date                       842 non-null    object
 6   business_segment               841 non-null    object
 7   lead_type                      836 non-null    object
 8   lead_behaviour_profile         665 non-null    object
 9   has_company                    63 non-null     object
 10  has_gtin                       64 non-null     object
 11  average_stock                  66 non-null     object
 12  business_type                  832 non-null    object
 13  declared_product_catalog_size  69 non-null     float64
 14  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), int64(1), object(12)
memory usage: 98.8+ KB

In [15]:
Closed_deals = Closed_deals.drop(['has_company', 'has_gtin', 'average_stock', 'declared_product_catalog_size'], axis=1)

Ahora, a los valores nulos de las columnas cualitativas los rellenamos por "unknown" (desconocido), ya que va a resultar más adecuado para nuestro análisis.

In [11]:
Closed_deals['business_segment'].fillna('unknown', inplace=True)
Closed_deals['lead_type'].fillna('unknown', inplace=True)
Closed_deals['lead_behaviour_profile'].fillna('unknown', inplace=True)
Closed_deals['business_type'].fillna('unknown', inplace=True)

Dentro del csv 'Geolocation', creamos a una columna nueva donde nos ubique a qué región pertenece el Estado.

In [24]:
Region={'PR':'Sur','RS':'Sur','SC':'Sur','SP':'Sudeste','MG':'Sudeste','RJ':'Sudeste','ES':'Sudeste','MT':'Centro oeste', 'MS':'Centro oeste', 'GO':'Centro oeste' , 'DF':'Centro oeste',
 'AC':'Norte', 'AP':'Norte','AM':'Norte','PA':'Norte', 'RO':'Norte','RR':'Norte', 'TO':'Norte', 	
'AL':'Nordeste','BA':'Nordeste','CE':'Nordeste','MA':'Nordeste','PB':'Nordeste','PI':'Nordeste',
'PE':'Nordeste','RN':'Nordeste','SE':'Nordeste',}

def get_region(state):
    return Region[state]

Geolocation['geolocation_region'] = Geolocation['geolocation_state'].apply(get_region)

In [25]:
Geolocation

,Unnamed: 0,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,geolocation_region
0,0,1037,-23.545621,-46.639292,sao paulo,SP,Sudeste
1,1,1046,-23.546081,-46.644820,sao paulo,SP,Sudeste
2,2,1046,-23.546129,-46.642951,sao paulo,SP,Sudeste
3,3,1041,-23.544392,-46.639499,sao paulo,SP,Sudeste
4,4,1035,-23.541578,-46.641607,sao paulo,SP,Sudeste
...,...,...,...,...,...,...,...
1000158,1000158,99950,-28.068639,-52.010705,tapejara,RS,Sur
1000159,1000159,99900,-27.877125,-52.224882,getulio vargas,RS,Sur
1000160,1000160,99950,-28.071855,-52.014716,tapejara,RS,Sur
1000161,1000161,99980,-28.388932,-51.846871,david canabarro,RS,Sur
1000162,1000162,99950,-28.070104,-52.018658,tapejara,RS,Sur

Eliminación de datos duplicados.

In [26]:
Closed_deals = Closed_deals.drop_duplicates()
Customers = Customers.drop_duplicates()
Geolocation = Geolocation.drop_duplicates()
Marketing = Marketing.drop_duplicates()
Order_items = Order_items.drop_duplicates()
Order_payments = Order_payments.drop_duplicates()
Order_reviews = Order_reviews.drop_duplicates()
Orders = Orders.drop_duplicates()
Product_category_name_translation = Product_category_name_translation.drop_duplicates()
Products = Products.drop_duplicates()
Sellers = Sellers.drop_duplicates()

Creamos una nueva columna en español para las sucursales latinoamericanas.

In [29]:
#le aplicamos la traducción a la columna product_category_name_english
translator = GoogleTranslator(source="auto", target="es")
Product_category_name_translation['product_category_name_spanish'] = Product_category_name_translation.product_category_name_english.apply(translator.translate)

print(Product_category_name_translation)

    Unnamed: 0          product_category_name product_category_name_english  \
0            0                   beleza_saude                 health_beauty
1            1         informatica_acessorios         computers_accessories
2            2                     automotivo                          auto
3            3                cama_mesa_banho                bed_bath_table
4            4               moveis_decoracao               furniture_decor
..         ...                            ...                           ...
66          66                         flores                       flowers
67          67             artes_e_artesanato         arts_and_craftmanship
68          68                fraldas_higiene           diapers_and_hygiene
69          69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70          70             seguros_e_servicos         security_and_services

   product_category_name_spanish
0                Salud y Belleza
1         ordenadores_accesorios
2                           auto
3                 cama_baño_mesa
4          decoración_de_muebles
..                           ...
66                        flores
67             artes_y_artesanía
68             pañales_e_higiene
69            moda_ropa_infantil
70         seguridad_y_servicios

[71 rows x 4 columns]